* {
    margin: 0;
}

body {
    background: rgb(24, 26, 61);
}

td, th {
    background: white;
    border-collapse: collapse;
    border: 1px solid silver;
}

#calc {
    background: white;
    border-collapse: collapse;
    width: 337px;
    height: 239px;
    margin: auto;
    margin-top: 10px;
    border: 5px solid silver;
}

.button {
    text-align: center;
    width: 96px;
}
    .operator {
        border-right: 5px solid silver;
        width: 40px;
    }

.button:hover {
    background: rgb(255, 210, 167);
    cursor: pointer;
    transition: 0.5s;
}

#title {
    background: rgb(109, 22, 22);
    color: white;
}

#output {
    padding: 5px;
    text-align: center;
}